<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<th:block th:fragment="component">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<th:block th:if="${component.brand}">
					<div th:replace="brand::component(component=${component.brand}, page=${page})"></div>
				<a class="navbar-brand" href="#">Navbar</a>
				<div class="collapse navbar-collapse" th:id="${component.id}" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<th:block th:each="subcomponent, status : ${component.navItems}">
							<div th:replace="__${subcomponent.name + '::component'}__ (component=${subcomponent}, page=${page})"></div>
						</th:block>
						
						
						<li class="nav-item active"><a class="nav-link" href="#">Home
								<span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> Dropdown </a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Action</a> <a
									class="dropdown-item" href="#">Another action</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something else here</a>
							</div></li>
						<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a>
						</li>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search"
							placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				</div>
			</nav>
			<div th:class="${component.cssClass}" th:id="${component.id}">
				<th:block th:each="subcomponent, status : ${component.components}">
					<div
						th:replace="__${subcomponent.name + '::component'}__ (component=${subcomponent}, page=${page})"></div>
				</th:block>
			</div>
		</th:block>
	</div>
</body>
</html>